---
import { Font } from 'astro:assets';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { description, title, image } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>
<meta name="description" content={description} />

<Font cssVariable="--font-geist" preload />
<Font cssVariable="--font-geist-mono" preload />
<Font cssVariable="--font-lora" preload />

<link rel="canonical" href={Astro.url} />

<link rel="alternate" hreflang="x-default" href={new URL('/', Astro.site)} />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="sitemap" href="/sitemap-index.xml" />

<meta property="og:site_name" content="Kenneth Kwakye-Gyamfi" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content={image} />
<meta name="twitter:card" content="summary_large_image" />
